<app-paginated-search-modal
  [aberto]="aberto()"
  [titulo]="titulo()"
  [placeholder]="placeholder()"
  [coluna1Label]="coluna1Label()"
  [coluna2Label]="coluna2Label()"
  [coluna3Label]="coluna3Label()"
  [coluna4Label]="coluna4Label()"
  [coluna5Label]="coluna5Label()"
  [termo]="termoSincronizado"
  [loading]="loading"
  [itens]="itens"
  [totalCount]="totalCount"
  [numeroPagina]="numeroPagina"
  [tamanhoPagina]="tamanhoPagina"
  (fechar)="fechar.emit()"
  (pesquisar)="onPesquisar($event)"
  (mudarPagina)="onMudarPagina($event)"
  (selecionar)="onSelecionar($event)"
/>
