<div class="login-page">
  <div class="card" role="main" aria-labelledby="login-title">
    <h1 id="login-title" class="title">FAÇA SEU LOGIN<span class="dot">.</span></h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="form">
      <div *ngIf="loginError" class="error global-error"><small>{{ loginError }}</small></div>
      <div class="field">
        <label for="username">Usuário ou CPF</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          autocomplete="username"
          placeholder="Seu usuário ou CPF"
          aria-describedby="username-error"
        />
        <div id="username-error" class="error" *ngIf="username?.touched && username?.invalid">
          <small *ngIf="username?.errors?.['required']">Usuário ou CPF é obrigatório.</small>
          <small *ngIf="username?.errors?.['minlength']">Mínimo de 3 caracteres.</small>
        </div>
      </div>

      <div class="field">
        <label for="password">Senha</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          autocomplete="current-password"
          placeholder="Mínimo 6 caracteres"
          aria-describedby="password-error"
        />

        <div class="forgot">
          <a routerLink="/auth/esqueci-senha">Esqueceu a senha?</a>
        </div>

        <div id="password-error" class="error" *ngIf="password?.touched && password?.invalid">
          <small *ngIf="password?.errors?.['required']">Senha é obrigatória.</small>
          <small *ngIf="password?.errors?.['minlength']">Mínimo de 6 caracteres.</small>
        </div>
      </div>

      <button class="btn" type="submit" [disabled]="form.invalid">Entrar</button>

      <div class="create">
        <a routerLink="/signup">Criar conta</a>
      </div>
    </form>
  </div>
</div>
